body
{
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	padding: 30px;
}
h2
{
	margin: 0 0 .5em 0;
}
h4
{
	margin: 0 0 .5em 0;
}
a
{
	color: #00B7FF;
}
#wrapper-left
{
	padding-left: 0px;
	float: left;
	position: relative;
	width:50%;
}
#wrapper-right
{
	padding-left: 0px;
	float: left;
	position: relative;
	width:50%;
}
#clientList
{
	margin: 0 0 30px 0;
}
#clientList table
{
	background: #CCC;
	border-collapse: separate;
	border-spacing: 1px;
}
#clientList table th
{
	background: #EEE;
	font-weight: 600;
	padding: 10px 20px;
	text-align: center;
}
#clientList table tbody
{
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 0;
	padding: 0;
}
#clientList table td
{
	background: #FFF;
	padding: 5px 10px;
	text-align: center;
}
#clientInfo
{
     position: relative;
     width: 80%;

}
#clientInfo p
{
	background: rgba(80,120,255,0.05);
	border: 1px solid #CCC;
	padding: 15px;
}
fieldset
{
	border: 0;
	margin: 0;
	padding: 0;
}
