extends layout

block content
    h1= title
    p A node.js application that exposes a REST API and sends commands to clients.

    // WRAPPER-LEFT
    #wrapper-left

        // CLIENTS LIST
        h2 Discovered clients
        #clientList
            table
                thead
                    th name
                    th ip
                    th port
                tbody
        // /CLIENTS LIST
    // /WRAPPER-LEFT
    
    // WRAPPER-RIGHT
    #wrapper-right
        // CLIENT INFO
        #clientInfo
            h3 Client Details
            i Establishing connection ...
            p
                strong Fullname:
                |  <span id='clientInfoFullname'></span>
                br
                strong Host:
                |  <span id='clientInfoHost'></span>
                br
                strong IP:
                |  <span id='clientInfoIP'></span>
                br
                strong Port:
                |  <span id='clientInfoPort'></span>
        // /CLIENT INFO
        button(class="btn", data-action="update").
          Update
        button(class="btn", data-action="refresh").
          Refresh
    // /WRAPPER-RIGHT
