extends layout

block content
    h1= title
    p A node.js application that exposes a REST API and sends commands to clients.

    // Wrapper
    #wrapper

        // CLIENTS LIST
        h2 Discovered clients
        #clientList
            table
                thead
                    th name
                    th ip
                    th port
                tbody
        // /CLIENTS LIST

    // /WRAPPER
